* {
	transition: ease-in-out 0.1s;
}

body {
	overflow-x: clip;
}

:root {
	--sl-font: "Jost", "Readex Pro", sans-serif;
}

/* Dark mode colors. */
:root {
	--bg-glare-hsl: 0, 0%, 100%;
	--overlay-white: hsla(var(--bg-glare-hsl), 0.2);
	--sl-color-accent-low: #1d1d1d;
	--sl-color-accent: #ffffff;
	--sl-color-accent-high: #fafafa;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #141414;
	--sl-color-black: #000000;
}

/* Light mode colors. */
:root[data-theme="light"] {
	--bg-glare-hsl: 0, 0%, 0%;
	--sl-color-accent-low: #f5f5f5;
	--sl-color-accent: #000000;
	--sl-color-accent-high: #1a1a1a;
	--sl-color-white: #000000;
	--sl-color-gray-1: #111111;
	--sl-color-gray-2: #3d3d3d;
	--sl-color-gray-3: #747474;
	--sl-color-gray-4: #a9a9a9;
	--sl-color-gray-5: #d0d0d0;
	--sl-color-gray-6: #eaeaea;
	--sl-color-black: #ffffff;
}

/* 
[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-white), transparent 40%),
		radial-gradient(var(--overlay-white), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-white), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
} */

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] .hero>img {
	filter: drop-shadow(0 0 8rem var(--overlay-white));
}


/* Adjust the header section */
.site-title {
	gap: 0.4em;
}

.site-title span {
	color: var(--sl-color-white);
	font-weight: 900;

	/* Our logo's text is in all caps */
	font-variant-caps: all-petite-caps;
}

.glare-wrapper {
	margin: unset !important;
}

[data-has-hero] header {
	background-color: color-mix(in srgb, var(--sl-color-gray-6), transparent 40%) !important;
	background: color-mix(in srgb, var(--sl-color-gray-6), transparent 40%) !important;
	border-bottom-color: var(--sl-color-gray-5);
	-webkit-backdrop-filter: blur(28px);
	backdrop-filter: blur(28px);
}

/* I don't really like how starlight's default badges look like */
.sl-badge {
	all: unset !important;
	@apply font-semibold items-center inline-flex rounded-full px-2 py-1 text-xs border border-solid bg-accent-200 border-accent-900 dark:bg-accent-900 dark:border-accent-400 !important;
}

.sl-badge.note {
	@apply text-accent-800 dark:text-accent-200 bg-blue-200 border-blue-900 dark:bg-blue-900 dark:border-blue-400 !important;
}

.sl-badge.success {
	@apply text-accent-800 dark:text-accent-200 bg-green-200 border-green-900 dark:bg-green-900 dark:border-green-400 !important;
}

.sl-badge.tip {
	@apply text-accent-800 dark:text-accent-200 bg-purple-200 border-purple-900 dark:bg-purple-900 dark:border-purple-400 !important;
}

.sl-badge.caution {
	@apply font-bold text-accent-800 dark:text-accent-200 bg-yellow-200 border-yellow-900 dark:bg-yellow-900 dark:border-yellow-400 !important;
}

.sl-badge.danger {
	@apply font-bold text-accent-800 dark:text-accent-200 bg-red-300 border-red-900 dark:bg-red-900 dark:border-red-400 !important;
}

@keyframes shine {
	100% {
		background-position: -140% 0;
	}
}

.shine>* {
	background-size: 200% 100% !important;
	background-image: linear-gradient(-75deg,
			transparent 0,
			transparent 5%,
			var(--sl-color-gray-4) 5%,
			var(--sl-color-gray-4) 10%,
			transparent 10%,
			transparent 100%) !important;
	background-clip: text !important;
	animation: shine 2s ease-in-out infinite !important;
}